.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
*.tfplan
*.tfout
*.tfvars
*.tfvars.json
*.tfvars.yaml
*.tfvars.yml
*.terraform.lock.hcl
terraform.lock.hcl
override.tf
override.tf.json
override.tf.yaml
override.tf.yml
*_override.tf
*_override.tf.json
*_override.tf.yaml
*_override.tf.yml
.terraformrc
terraform.rc
terraform.rc.json⏎   